{% extends "index.html" %}
{% load static %}



{% block content %}


<div class="w-full flex justify-center items-center h-full">

    <a href="#" class="w-full flex flex-col items-center bg-white border border-gray-200 
     rounded-lg shadow-sm md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 shadow shadow-blue-900">
    <img class="object-cover w-full rounded-t-lg h-80  md:h-80 md:w-50 md:rounded-none md:rounded-s-lg" src="{% static 'img/about-img.webp' %}" alt="">
    <div class="flex flex-col justify-between p-4 leading-normal">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Create Read Update Delete App 2025</h5>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Easily manage your data with our intuitive CRUD application. Create, read, update, and delete entries seamlessly in a user-friendly interface.</p>
    </div>
</a>
</div>


{% endblock %}